.img1{
	transform: scale(0.6);
	position: absolute;
	left: 530px;
}
.register{
	width: 500px;
	height: 500px;
	position: absolute;
	background: white;
	left: 480px;
	top: 130px;
	box-shadow: 5px 5px 5px #CCCCCC;
}
.img2{
	transform: scale(0.2);
	position: absolute;
	left: 320px;
	top: 620px;
}
.text1{
	font-size: 11px;
	position: relative;
	left: 555px;
	top: 645px;
}
.img3{
	position: absolute;
	transform: scale(0.7);
	left: 546px;
	top: 669px;
}
.text2{
	position: relative;
	font-size: 22px;
	left: 100px;
	top: 80px;
	font-family: "黑体";
	color: #00A0E9;
	padding-bottom: 20px;
}
.text3{
	position: relative;
	font-size: 22px;
	left: 170px;
	top: 80px;
	font-family: "黑体";
	padding-bottom: 20px;
}
.div1{
	width: 150px;
	height: 5px;
	background: #00A0E9;
	position: relative;
	left: 82px;
	top: 100px;
}
.text4{
	position: relative;
	left: 100px;
	top: 150px;
	border: none;
	outline: none;
}
.text5{
	position: relative;
	top: 250px;
	right: 150px;
	border: 1px solid white;
	outline: none;
}
.text6{
	position: relative;
	font-size: 14px;
	color: #00A0E9;
	top: 215px;
	left: 260px;
}
.line_1{
	width: 240px;
	height: 1px;
	background: red;
	position: relative;
	left: 100px;
	top: 140px;
	display: none;
}
.line_2{
	width: 240px;
	height: 1px;
	background: red;
	position: relative;
	left: 100px;
	top: 236px;
	display: none;
}
.text7{
	position: relative;
	font-size: 15px;
	color: #00A0E9;
	top: 120px;
	right: 40px;
	display: none;
}
.text8{
	position: absolute;
	font-size: 15px;
	color: #00A0E9;
	top: 292px;
	right: 410px;
	display: none;
}
.text9{
	position: relative;
	font-size: 14px;
	color: red;
	top: 165px;
	left: -30px;
	display: none;
}
.text10{
	position: relative;
	font-size: 14px;
	color: red;
	top: 160px;
	left: -30px;
	display: none;
}
.text11{
	position: absolute;
	background: #00A0E9;
	border-radius: 10px;
	top: 380px;
	left: 170px;
}
.text12{
	position: absolute;
	top: 470px;
	left: 20px;
	color: #00A0E9;
}
.text13{
	position: absolute;
	top: 470px;
	left: 420px;
	color: #00A0E9;
}
a{
	text-decoration: none;
	color: #00A0E9;
}
.conceal_1{
	/*display: none;*/
}
.text14{
	position: relative;
	left: 100px;
	top: 150px;
	border: none;
	outline: none;
}
.text15{
	position: relative;
	top: 250px;
	right: 150px;
	border: none;
	outline: none;
}
.line_3{
	width: 240px;
	height: 1px;
	background: red;
	position: relative;
	left: 100px;
	top: 140px;
	display: none;
}
.line_4{
	width: 240px;
	height: 1px;
	background: red;
	position: relative;
	left: 100px;
	top: 236px;
	display: none;
}
.text17{
	position: relative;
	font-size: 15px;
	color: #00A0E9;
	top: 120px;
	right: -30px;
	display: none;
}
.text18{
	position: absolute;
	font-size: 15px;
	color: #00A0E9;
	top: 292px;
	right: 430px;
	display: none;
}
.text19{
	position: relative;
	font-size: 14px;
	color: red;
	top: 165px;
	left: 50px;
	display: none;
}
.text20{
	position: absolute;
	font-size: 14px;
	color: red;
	top: 340px;
	left: 100px;
	display: none;
}
.conceal_2{
	display: none;
}